version: "3.4"

services:
  php:
    image: ${DOCKER_IMAGE_PHP:-git.n2.network/miris/gunloader-php:latest}
    build:
      context: .
      target: app_php
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
      - app_bootstrap:/srv/app/bootstrap
      - app_storage:/srv/app/storage
    healthcheck:
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 30s
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-app}?serverVersion=${POSTGRES_VERSION:-15}&charset=${POSTGRES_CHARSET:-utf8}

  caddy:
    image: ${DOCKER_IMAGE_CADDY:-git.n2.network/miris/gunloader-caddy:latest}
    build:
      context: .
      target: app_caddy
    depends_on:
      - php
    environment:
      SERVER_NAME: ${SERVER_NAME:-:80}
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
      - caddy_data:/data
      - caddy_config:/config
    ports:
      # HTTP
      - target: 80
        published: ${HTTP_PORT:-80}
        protocol: tcp
      # HTTPS
      - target: 443
        published: ${HTTPS_PORT:-443}
        protocol: tcp
      # HTTP/3
      - target: 443
        published: ${HTTP3_PORT:-443}
        protocol: udp

  database:
    image: postgres:${POSTGRES_VERSION:-15}
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_VERSION: ${POSTGRES_VERSION:-15}
      POSTGRES_CHARSET: ${POSTGRES_CHARSET:-utf8}
    volumes:
      - database_data:/var/lib/postgresql/data

volumes:
  app_bootstrap:
  app_storage:
  php_socket:
  caddy_data:
  caddy_config:
  database_data:
